<div th:fragment="navigation">
    <nav id="navigation">
        <!-- БЛОК -->
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/discounts">Скидки</a></li>
                    <li><a href="/guitars">Гитары</a></li>
                    <li><a href="/piano">Клавишные</a></li>
                    <li><a href="/drums">Ударные</a></li>
                    <li><a href="/muzobr">Музыкальное оборудование</a></li>
                </ul>
            </div>
        </div>
        <!-- /БЛОК -->
    </nav>
</div>