<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Мир музыки - Ударные</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

    <!-- Иконки -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <link rel="shortcut icon" href="img/logo.png" type="image/png">

</head>
<body>
<!-- ШАПКА САЙТА -->
<div th:insert="fragments/header :: header"></div>
<!-- /ШАПКА САЙТА -->
<!-- НАВИГАЦИЯ -->
<div th:insert="fragments/navigation :: navigation"></div>
<!-- /НАВИГАЦИЯ -->
<!-- СЕКЦИЯ -->
<div class="section">
    <!-- БЛОК -->
    <div class="container">
        <!-- РЯД -->
        <div class="row">

            <!-- Ударные -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Ударные</h3>
                </div>
            </div>
            <!-- /Ударные -->
            <!-- ВКЛАДКИ -->
            <div class="col-md-12">
                <div class="row">
                    <div class="product1">
                        <!-- ТОВАР 1 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums1.jpg" alt="TAMA SG52KH4-BK">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">TAMA SG52KH4-BK</a></h3>
                                <h4 class="product-price">45 900 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/31/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- ТОВАР 2 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums2.jpg" alt="Pearl RSJ465C/C31">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">Pearl RSJ465C/C31</a></h3>
                                <h4 class="product-price">33 990 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/32/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 2 -->
                        <!-- ТОВАР 3 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums3.jpg" alt="Flight FK-10RD">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">Flight FK-10RD</a></h3>
                                <h4 class="product-price">12 960 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/33/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 3 -->
                        <!-- ТОВАР 4 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums4.jpg" alt="ALESIS NITRO MESH KIT">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">ALESIS NITRO MESH KIT</a></h3>
                                <h4 class="product-price">45 000 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/34/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 4 -->
                        <!-- ТОВАР 5 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums5.jpg" alt="ROLAND TD-17KVX">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">ROLAND TD-17KVX</a></h3>
                                <h4 class="product-price">162 733 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/35/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 5 -->
                        <!-- ТОВАР 6 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums6.jpg" alt="Sonor 17503735 AQ2">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">Sonor 17503735 AQ2</a></h3>
                                <h4 class="product-price">5 590 ₽ <del class="product-old-price">7 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/36/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 6 -->
                        <!-- ТОВАР 7 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums7.jpg" alt="Pearl RS525SC/C707">
                                <div class="product-label">
                                    <span class="sale">-20%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">Pearl RS525SC/C707</a></h3>
                                <h4 class="product-price">22 390 ₽ <del class="product-old-price">27 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/37/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 7 -->
                        <!-- ТОВАР 8 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums8.jpg" alt="YAMAHA DD-75">
                                <div class="product-label">
                                    <span class="sale">-10%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">YAMAHA DD-75</a></h3>
                                <h4 class="product-price">27 000 ₽ <del class="product-old-price">30 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/38/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 8 -->
                        <!-- ТОВАР 9 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums9.jpg" alt="Soundking SD30M">
                                <div class="product-label">
                                    <span class="sale">-50%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">Soundking SD30M</a></h3>
                                <h4 class="product-price">25 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/39/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 9 -->
                        <!-- ТОВАР 10 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/drums/drums10.jpg" alt="ROCKDALE DRUMS SD61-3">
                                <div class="product-label">
                                    <span class="sale">-70%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Ударные</p>
                                <h3 class="product-name"><a href="#">ROCKDALE DRUMS SD61-3</a></h3>
                                <h4 class="product-price">15 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/40/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 10 -->
                    </div>
                </div>
            </div>
            <!-- /ВКЛАДКИ -->
        </div>
        <!-- /РЯД -->
    </div>
    <!-- /БЛОК -->
</div>
<!-- /СЕКЦИЯ -->
<!-- ПОДВАЛ -->
<div th:insert="fragments/footer :: footer"></div>
<!-- /ПОДВАЛ -->
<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>
<script src="js/cart.js"></script>
<script src="js/search.js"></script>

</body>
</html>
