<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Мир музыки - Музыкальное оборудование</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

    <!-- Иконки -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <link rel="shortcut icon" href="img/logo.png" type="image/png">

</head>
<body>
<!-- ШАПКА САЙТА -->
<div th:insert="fragments/header :: header"></div>
<!-- /ШАПКА САЙТА -->
<!-- НАВИГАЦИЯ -->
<div th:insert="fragments/navigation :: navigation"></div>
<!-- /НАВИГАЦИЯ -->
<!-- СЕКЦИЯ -->
<div class="section">
    <!-- БЛОК -->
    <div class="container">
        <!-- РЯД -->
        <div class="row">

            <!-- МУЗОБР -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Музыкальное оборудование</h3>
                </div>
            </div>
            <!-- /МУЗОБР -->
            <!-- ВКЛАДКИ -->
            <div class="col-md-12">
                <div class="row">
                    <!-- ВКЛАДКА 1 Музыкальное оборудование -->
                    <div class="product1">
                        <!-- ТОВАР 1 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr1.png" alt="JBL EON612">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">JBL EON612</a></h3>
                                <h4 class="product-price">34 900 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/41/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 1 -->
                        <!-- ТОВАР 2 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr2.jpg" alt="JBL PRX835W">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">JBL PRX835W</a></h3>
                                <h4 class="product-price">95 800 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/42/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 2 -->
                        <!-- ТОВАР 3 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr3.jpg" alt="BEHRINGER X1204USB">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">BEHRINGER X1204USB</a></h3>
                                <h4 class="product-price">14 600 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/43/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 3 -->
                        <!-- ТОВАР 4 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr4.jpg" alt="Steinberg UR12 USB">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">Steinberg UR12 USB</a></h3>
                                <h4 class="product-price">34 900 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/44/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 4 -->
                        <!-- ТОВАР 5 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr5.jpg" alt="MACKIE Big Knob">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">MACKIE Big Knob</a></h3>
                                <h4 class="product-price">27 900 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/45/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 5 -->
                        <!-- ТОВАР 6 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr6.jpg" alt="WAVES RESTORATION">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">WAVES RESTORATION</a></h3>
                                <h4 class="product-price">5 590 ₽ <del class="product-old-price">7 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/46/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 6 -->
                        <!-- ТОВАР 7 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr7.jpg" alt="ART CleanBox PRO">
                                <div class="product-label">
                                    <span class="sale">-20%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">ART CleanBox PRO</a></h3>
                                <h4 class="product-price">22 390 ₽ <del class="product-old-price">27 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/47/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 7 -->
                        <!-- ТОВАР 8 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr8.jpg" alt="PreSonus FaderPort 8">
                                <div class="product-label">
                                    <span class="sale">-10%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">PreSonus FaderPort 8</a></h3>
                                <h4 class="product-price">27 000 ₽ <del class="product-old-price">30 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/48/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 8 -->
                        <!-- ТОВАР 9 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr9.jpg" alt="Tannoy GOLD 5">
                                <div class="product-label">
                                    <span class="sale">-50%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">Tannoy GOLD 5</a></h3>
                                <h4 class="product-price">25 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/49/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 9 -->
                        <!-- ТОВАР 10 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/muzobr/muzobr10.jpg" alt="Monkey Banana Turbo">
                                <div class="product-label">
                                    <span class="sale">-70%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Музыкальное оборудование</p>
                                <h3 class="product-name"><a href="#">Monkey Banana Turbo</a></h3>
                                <h4 class="product-price">15 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/50/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 10 -->
                    </div>
                    <!-- /ВКЛАДКА 1 Музыкальное оборудование -->
                </div>
            </div>
            <!-- /ВКЛАДКИ -->
        </div>
        <!-- /РЯД -->
    </div>
    <!-- /БЛОК -->
</div>
<!-- /СЕКЦИЯ -->
<!-- ПОДВАЛ -->
<div th:insert="fragments/footer :: footer"></div>
<!-- /ПОДВАЛ -->
<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>
<script src="js/cart.js"></script>
<script src="js/search.js"></script>

</body>
</html>
