<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Мир музыки - Клавишные</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

    <!-- Иконки -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css"/>

    <link rel="shortcut icon" href="img/logo.png" type="image/png">

</head>
<body>
<!-- ШАПКА САЙТА -->
<div th:insert="fragments/header :: header"></div>
<!-- /ШАПКА САЙТА -->
<!-- НАВИГАЦИЯ -->
<div th:insert="fragments/navigation :: navigation"></div>
<!-- /НАВИГАЦИЯ -->
<!-- СЕКЦИЯ -->
<div class="section">
    <!-- БЛОК -->
    <div class="container">
        <!-- РЯД -->
        <div class="row">

            <!-- Клавишные -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Клавишные</h3>
                </div>
            </div>
            <!-- /Клавишные -->
            <!-- ВКЛАДКИ -->
            <div class="col-md-12">
                <div class="row">
                    <div class="product1">
                        <!-- ТОВАР 1 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano1.jpg" alt="YAMAHA P-45 BLACK">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">YAMAHA P-45 BLACK</a></h3>
                                <h4 class="product-price">38 990 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/21/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 1 -->
                        <!-- ТОВАР 2 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano2.jpg" alt="CASIO CT-S1WE">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">CASIO CT-S1WE</a></h3>
                                <h4 class="product-price">21 990 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/22/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 2 -->
                        <!-- ТОВАР 3-->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano3.jpg" alt="YAMAHA YDP-144WH">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">YAMAHA YDP-144WH</a></h3>
                                <h4 class="product-price">94 990 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/23/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 3 -->
                        <!-- ТОВАР 4 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano4.jpg" alt="KORG Pa600">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">KORG Pa600</a></h3>
                                <h4 class="product-price">87 000 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/24/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 4 -->
                        <!-- ТОВАР 5 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano5.jpg" alt="Samick SIG50D/EBHP">
                                <div class="product-label">
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">Samick SIG50D/EBHP</a></h3>
                                <h4 class="product-price">832 112 ₽</h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/25/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 5 -->
                        <!-- ТОВАР 6 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano6.jpg" alt="CASIO CT-X3000">
                                <div class="product-label">
                                    <span class="sale">-30%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">CASIO CT-X3000</a></h3>
                                <h4 class="product-price">5 590 ₽ <del class="product-old-price">7 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/26/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 6 -->
                        <!-- ТОВАР 7 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano7.jpg" alt="ROLAND GO-61K">
                                <div class="product-label">
                                    <span class="sale">-20%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">ROLAND GO-61K</a></h3>
                                <h4 class="product-price">22 390 ₽ <del class="product-old-price">27 990 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/27/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 7 -->
                        <!-- ТОВАР 8-->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano8.jpg" alt="CASIO Celviano AP-270BN">
                                <div class="product-label">
                                    <span class="sale">-10%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">CASIO Celviano AP-270BN</a></h3>
                                <h4 class="product-price">27 000 ₽ <del class="product-old-price">30 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/28/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 8 -->
                        <!-- ТОВАР 9 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano9.jpg" alt="YAMAHA YDP-144R">
                                <div class="product-label">
                                    <span class="sale">-50%</span>
                                    <span class="new">НОВИНКА</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">YAMAHA YDP-144R</a></h3>
                                <h4 class="product-price">25 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/29/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 9 -->
                        <!-- ТОВАР 10 -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/piano/piano10.jpg" alt="Samick JS143F/EBST">
                                <div class="product-label">
                                    <span class="sale">-70%</span>
                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">Клавишные</p>
                                <h3 class="product-name"><a href="#">Samick JS143F/EBST</a></h3>
                                <h4 class="product-price">15 000 ₽ <del class="product-old-price">50 000 ₽</del></h4>
                                <div class="product-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <a th:href="@{/products/30/bucket}"><button class="add-to-cart-btn plus"><i class="fa fa-shopping-cart"></i> В корзину</button></a>
                            </div>
                        </div>
                        <!-- /ТОВАР 10 -->
                    </div>
                </div>
            </div>
            <!-- /ВКЛАДКИ -->
        </div>
        <!-- /РЯД -->
    </div>
    <!-- /БЛОК -->
</div>
<!-- /СЕКЦИЯ -->
<!-- ПОДВАЛ -->
<div th:insert="fragments/footer :: footer"></div>
<!-- /ПОДВАЛ -->
<!-- jQuery Plugins -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>
<script src="js/cart.js"></script>
<script src="js/search.js"></script>

</body>
</html>
