<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Регистрация</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

    <!-- Иконки -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/registration.css"/>

</head>
<body>
<!-- ШАПКА САЙТА -->
<header>
    <div id="header">
        <!-- БЛОК -->
        <div class="container">
            <!-- РЯД -->
            <div class="row">
                <!-- ЛОГО -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="/" class="logo">
                            <img src="img/logo.jpg" alt="">
                        </a>
                    </div>
                </div>
                <!-- /ЛОГО -->


                <div class="col-md-3 clearfix">
                    <div class="header-ctn">

                        <!-- МЕНЮ -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Меню</span>
                            </a>
                        </div>
                        <!-- /МЕНЮ -->
                    </div>
                </div>
            </div>
            <!-- РЯД -->
        </div>
        <!-- БЛОК -->
    </div>
</header>
<!-- /ШАПКА САЙТА -->

<!--Form-->
<div class="wr">
    <div class="wrapper">
        <div th:if="${param.success}">
            <div class="alert alert-info">Вы успешно зарегистрировались!</div>
        </div>
        <header>Регистрация</header>
        <div class="heading-line"></div>
        <form th:action="@{/registration}" method="post" th:object="${user}">

            <div class="field firstName">
                <div class="input-area">
                    <input type="text" placeholder="Логин" th:field="*{username}" required autofocus="autofocus">
                    <i class="icon fa fa-user"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>

            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="Email Address" th:field="*{email}" required autofocus="autofocus">
                    <i class="icon fa fa-envelope"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>

<!--            <div class="field phoneNumber">
                <div class="input-area">
                    <input type="text" placeholder="Номер телефона" th:field="*{number}" required autofocus="autofocus">
                    <i class="icon fas fa-phone"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>-->

            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Password" th:field="*{password}" required autofocus="autofocus">
                    <i class="icon fa fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Matching Password" th:field="*{matchingPassword}" required autofocus="autofocus">
                    <i class="icon fa fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
            </div>

            <div>
                <button type="submit" class="form-control btn btn-success" style="background: #9e8a78; border-color: #9e8a78;">Зарегистрироваться</button>
            </div>
            <div>
                <span  class="spann">Уже зарегистрированы? <a style="color: #9e8a78" href="/" th:href="@{/login}">Войдите в аккаунт</a></span>
            </div>
        </form>
    </div>
</div>
<!--Form-->

<!-- ПОДВАЛ -->
<div th:insert="fragments/footer :: footer"></div>
<!-- /ПОДВАЛ -->
<!-- jQuery Plugins -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/slick.min.js"></script>
<script src="../static/js/jquery.zoom.min.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/cart.js"></script>

</body>
</html>
